In [1]:
a=10

In [2]:
a

10

In [3]:
type(a)

int

In [4]:
type('Lali')

str

In [5]:
int()

0

In [6]:
int('123')

123

In [7]:
int(123)

123

In [8]:
int(3.5)

3

In [9]:
print("Hello World")

Hello World

In [10]:
print('Hey Hi')

Hey Hi

In [11]:
print(123)

123

In [12]:
My_Name="Lalitha"

In [13]:
print("My Name is :",My_Name)

My Name is : Lalitha

In [14]:
print("My Name is {My_Name}")

My Name is {My_Name}

In [15]:
print(f"My Name is {My_Name}")

My Name is Lalitha

In [16]:
print("My name is {}".format(My_Name))

My name is Lalitha

In [17]:
print("My Name is {Name}".format(Name=My_Name))

My Name is Lalitha

In [23]:
Name="Lalitha"
Age=38
Degree="BE"

In [22]:
print("My age is {age} and I have completed {degree} with name {temp}".format(age=Age,degree=Degree,temp=Name))

NameError: name 'Age' is not defined

In [ ]:
Name=Lalitha
Age=38

In [ ]:
print("My Name is {name} and age is {age}".format(name=Name,age=Age))

In [21]:
Name=Lali
Age=38

NameError: name 'Lali' is not defined

In [24]:
Age

38

In [25]:
print("My age is {age} and I have completed {degree} with name {temp}".format(age=Age,degree=Degree,temp=Name))

My age is 38 and I have completed BE with name Lalitha

In [35]:
Age=15
if Age<18 :
    print("No Vote")

No Vote

In [33]:
input()

 13

'13'

In [34]:
Age=input()

 13

In [40]:
Age=int(input("Enter Your Age:"))
if Age>=18 and Age<=45:
        print("You are Young Blood !!!")
else:
    print("Thank You")

Enter Your Age: 50

Thank You

In [41]:
Price=float(input("Enter the Product Price:"))

Enter the Product Price: 25.8

In [46]:
Price=float(input("Enter the Product Price:"))
if Price>1000:
    #Discount=0.8*Price
    Discount=Price*(1-(20/100))
    print("Actual Price:" ,Price)
    print("Discounted Price:",Discount)
else:
    Discount=0.7*Price
    print("Actual Price:" ,Price)
    print("Discounted Price:",Discount)

Enter the Product Price: 1000

Actual Price: 1000.0
Discounted Price: 700.0

In [63]:
Price=float(input("Enter the Product Price:"))
if Price<=2000:
    print("Actual Price is {} and Discounted Price is {} and Discount is {}".format(Price,Price*0.6,'40%'))
elif Price>2000 and Price<=3000:
    print("Actual Price is {} and Discounted Price is {} and Discount is {}".format(Price,Price*0.7,'30%'))
else:
     print("Actual Price is {} and Discounted Price is {} and Discount is {}".format(Price,Price*0.8,'20%'))

Enter the Product Price: 0

Actual Price is 0.0 and Discounted Price is 0.0 and Discount is 40%

In [56]:
n=300

In [57]:
id(n)

140566845969552

In [58]:
m=n

In [60]:
id(m)

140566845969552

In [61]:
m=400

In [62]:
id(m)

140566846104848

In [70]:
Price=int(input("Enter the Product Price:"))
if Price<=2000:
    if Price==999:
        print("YAYYYY.....Go Goa")
    else: 
        print("Actual Price is {} and Discounted Price is {} and Discount is {}".format(Price,Price*0.6,'40%'))
elif Price>2000 and Price<=3000:
    if Price==2999:
        print("YAYYYY.....You have a surprise")
    else:
        print("Actual Price is {} and Discounted Price is {} and Discount is {}".format(Price,Price*0.7,'30%'))
else:
     print("Actual Price is {} and Discounted Price is {} and Discount is {}".format(Price,Price*0.8,'20%'))

Enter the Product Price: 1999

Actual Price is 1999 and Discounted Price is 1199.3999999999999 and Discount is 40%

In [71]:
n=500

In [72]:
id(n)

140566846105168

In [73]:
a=100
b=100

In [76]:
id(a)
id(b)

140567193603408

In [77]:
id(b)

140567193603408

In [ ]:
ver1.3=45

In [ ]:
ver1.3

In [78]:
list=[1,2,3,4,'Lali','Welcome']

In [79]:
list

[1, 2, 3, 4, 'Lali', 'Welcome']

In [80]:
type(list)

list

In [81]:
for x in list:
    print(x)

1
2
3
4
Lali
Welcome

In [82]:
for x in list:
    print(x,end=" ")

1 2 3 4 Lali Welcome

In [83]:
fruit="Mango"
for x in fruit:
    print(x)

M
a
n
g
o

In [84]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [86]:
for i in range(100,91,-2):
    print(i)

100
98
96
94
92

In [1]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [2]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [3]:
# to display stars in right-angled triangular form 
n=20
for i in range(1, 11):
    print(' '*n, end='') # repet space for n times
    print('* '*(i)) # repeat stars for i times

                    *
                    * *
                    * * *
                    * * * *
                    * * * * *
                    * * * * * *
                    * * * * * * *
                    * * * * * * * *
                    * * * * * * * * *
                    * * * * * * * * * *

In [4]:
# to display stars in equilateral triangular form 
n=20
for i in range(1, 11):
    print(' '*n, end='') # repet space for n times
    print('* '*(i)) # repeat stars for i times
    n-=1

                    *
                   * *
                  * * *
                 * * * *
                * * * * *
               * * * * * *
              * * * * * * *
             * * * * * * * *
            * * * * * * * * *
           * * * * * * * * * *

In [7]:
n=5
for i in range(1,(n)+1):
    print(' '*n,end='')
    print('* '*(i))

     *
     * *
     * * *
     * * * *
     * * * * *

In [12]:
n=5
for i in range(1,(n)+1):
    print(' '*n,end='')
    print('* '*(i))
    n=n-1

     *
    * *
   * * *
  * * * *
 * * * * *

In [16]:
n=5
for i in range(1,n+1):
   # print('~'*n,end=' ')
    print('* '*(i))

*
* *
* * *
* * * *
* * * * *

In [1]:
if (1, 2):

    print('foo')

foo

In [2]:
if (1, 2):
print('foo')

IndentationError: expected an indented block after 'if' statement on line 1 (1205035376.py, line 2)

In [3]:
a = 100
b = 50

In [7]:
if a<b :
    m=a
    print(m)
else:
	m=b
    print(m)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [8]:
if a<b :
    m=a
    print(m)
else:
    m=b
    print(m)

50

In [9]:
d = {'a': 0, 'b': 1, 'c': 0}

if d['a'] > 0:
    print('ok')
elif d['b'] > 0:
    print('ok')
elif d['c'] > 0:
    print('ok')
elif d['d'] > 0:
    print('ok')
else:
    print('not ok')

ok

In [10]:
x=10
y=20

In [11]:
if x < y: if x > 10: print('foo')

SyntaxError: invalid syntax (1352384776.py, line 1)

In [12]:
if x < y: print('foo') else: print('bar')

SyntaxError: invalid syntax (2485946297.py, line 1)

In [13]:
if x < y: print('foo')
elif y < x: print('bar')
else: print('baz')

foo

In [15]:
'a' + 'x' if '123'.isdigit() else 'y' + 'b'

'ax'

In [16]:
'123'.isdigit()

True