Q1. What is a database? Differentiate between SQL and NoSQL databases.

Databases are the collection of data in order to store and retrieve data.

The Main Differences: 

Type – 
SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 
Language – 
SQL databases defines and manipulates data based structured query language (SQL). Seeing from a side this language is extremely powerful. SQL is one of the most versatile and widely-used options available which makes it a safe choice especially for great complex queries. But from other side it can be restrictive. SQL requires you to use predefined schemas to determine the structure of your data before you work with it. Also all of your data must follow the same structure. This can require significant up-front preparation which means that a change in the structure would be both difficult and disruptive to your whole system. 
A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store. This flexibility means that documents can be created without having defined structure first. Also each document can have its own unique structure. The syntax varies from database to database, and you can add fields as you go. 
Scalability – 
In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD. But on the other hand NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database. It is similar to adding more floors to the same building versus adding more buildings to the neighborhood. Thus NoSQL can ultimately become larger and more powerful, making these databases the preferred choice for large or ever-changing data sets.
Structure – 
SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores. This makes relational SQL databases a better option for applications that require multi-row transactions such as an accounting system or for legacy systems that were built for a relational structure. 
Property followed – 
SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance). 
Support – 
Great support is available for all SQL database from their vendors. Also a lot of independent consultations are there who can help you with SQL database for a very large scale deployments but for some NoSQL database you still have to rely on community support and only limited outside experts are available for setting up and deploying your large scale NoSQL deployments.

Key highlights on SQL vs NoSQL: 


SQL : RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	
NOSQL :Non-relational or distributed database system.
SQL : These databases have fixed or static or predefined schema	
NOSQL : They have dynamic schema
SQL : These databases are not suited for hierarchical data storage.	
NOSQL : These databases are best suited for hierarchical data storage.
SQL : These databases are best suited for complex queries	
NOSQL : These databases are not so good for complex queries
SQL : Vertically Scalable
NOSQL : Horizontally scalable
SQL : Follows ACID property	
NOSQL :Follows CAP(consistency, availability, partition tolerance)
SQL : Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	
NOSQL : Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

DDL Commands :
In this section, We will cover the following DDL commands as follows.

1) Create
2) Alter 
3) truncate
4) drop


CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

Syntax –

CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);
Example –
We need to create a table for storing Student information of a particular College. Create syntax would be as below.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);


ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Syntax –
Syntax to add a column to an existing table.

ALTER TABLE table_name
ADD column_name datatype;
Example –
In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;


TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

Syntax –
Syntax to remove an existing table.

TRUNCATE TABLE table_name;
Example –
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.

TRUNCATE TABLE Student_info;


DROP :
This command is used to remove an existing table along with its structure from the Database.

Syntax –
Syntax to drop an existing table.

DROP TABLE table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language (DML) commands in SQL deals with manipulation of data records stored within the database tables. It does not deal with changes to database objects and its structure. The commonly known DML commands are INSERT, UPDATE and DELETE. Liberally speaking, we can consider even SELECT statement as a part of DML commands. Albeit, it strictly forms part of the Data Query Language (DQL) command.

1. SELECT
SELECT command or statement in SQL is used to fetch data records from the database table and present it in the form of a result set. It is usually considered as a DQL command but it can also be considered as DML.

The basic syntax for writing a SELECT query in SQL is as follows :
    SELECT column_name1, column_name2, …
FROM table_name
WHERE condition_ expression;

The parameters used in the above syntax are as follows :

column_name1, column_name2, … : Specify the column_names which have to be fetched or selected for the final result set.
table_name: Specify the name of the database table from which these results have to be fetched.
condition_expression: Specify the condition expression for filtering records for the final result set.
Here are a few examples to illustrate the use of SELECT command.

SELECT customer_id,
sale_date,
order_id,
store_state
FROM customers;

2. INSERT
INSERT commands in SQL are used to insert data records or rows in a database table. In an INSERT statement, we specify both the column_names for which the entry has to be made along with the data value that has to be inserted.

The basic syntax for writing INSERT statements in SQL is as follows :

INSERT INTO table_name (column_name_1, column_name_2, column_name_3, ...)
VALUES (value1, value2, value3, ...)

By VALUES, we mean the value of the corresponding columns.

Here are a few examples to further illustrate the INSERT statement.

INSERT INTO public.customers(
customer_id, sale_date, sale_amount, salesperson, store_state, order_id)
VALUES (1005,'2019-12-12',4200,'R K Rakesh','MH','1007');

3. UPDATE
UPDATE command or statement is used to modify the value of an existing column in a database table.

The syntax for writing an UPDATE statement is as follows :

UPDATE table_name
SET column_name_1 = value1, column_name_2 = value2, ...
WHERE condition;

Having learnt the syntax, let us now try an example based on the UPDATE statement in SQL.

UPDATE customers
SET store_state = 'DL'
WHERE store_state = 'NY';

4. DELETE
DELETE statement in SQL is used to remove one or more rows from the database table. It does not delete the data records permanently. We can always perform a rollback operation to undo a DELETE command. With DELETE statements we can use the WHERE clause for filtering specific rows.

The syntax for writing an DELETE statement is as follows :

DELETE FROM table_name WHERE condition;

Having learnt the syntax, we are all set to try an example based on the DELETE command in SQL.

DELETE FROM customers
WHERE store_state = 'MH'
AND customer_id = '1001';

Q4. What is DQL? Explain SELECT with an example.

Query languages, often known as DQLs or Data Query Languages, are computer languages that are used to make various queries in information systems and databases. The Structured Query Language (SQL) is a well-known example. DQL statements are used to query the data contained in schema objects. The primary goal of the DQL Command is to return a schema relation depending on the query supplied to it.

What is Data Query Language (DQL)?
The DQL statements can be used in order to query the data and information contained in schema objects. The goal of the DQL Commands is to return a schema relation on the basis of the query supplied to them.

Definition of DQL
DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to perform actions on it. It is the same as the projection operation in relational algebra. The result of a SELECT statement on a table or collection of tables is compiled into a new temporary table, which is subsequently displayed or received by a program, i.e. a front-end.

The chosen clause, which would be the first and one of the last clauses of a select statement, is examined by the database server. The reason for this is that before we can determine what to include in the final result set, we need to know all the alternative columns that can be included.

Syntax
SELECT expression FROM table_x WHERE code_conditions;

Example
SELECT Stu_Name FROM Student WHERE Phone = 9039462908;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.


1)	A primary key is used to ensure data in the specific column is unique.	A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
2) PK : 	It uniquely identifies a record in the relational database table.	
FK :It refers to the field in a table which is the primary key of another table.
3) PK :	Only one primary key is allowed in a table.
FK :Whereas more than one foreign key are allowed in a table.
4) PK:	It is a combination of UNIQUE and Not Null constraints.	
FK :It can contain duplicate values and a table in a relational database.
5) PK:	It does not allow NULL values.	
FK : It can also contain NULL values.
6) PK:	Its value cannot be deleted from the parent table.
FK :Its value can be deleted from the child table.
7) PK:	It constraint can be implicitly defined on the temporary tables.	
FK : It constraint cannot be defined on the local or global temporary tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("INSERT INTO TEST2.test_table1 VALUES ( 1,'abc',2,3.5,4)")
mycursor.execute("INSERT INTO TEST2.test_table1 VALUES ( 1,'abc',2,3.5,4)")
mycursor.execute("INSERT INTO TEST2.test_table1 VALUES ( 1,'abc',2,3.5,4)")
mycursor.execute("SELECT * FROM TEST2.test_table1")
for i in mycursor.fetchall():
    print(i)
mycursor.execute("SELECT c1,c2 FROM TEST2.test_table1")
for i in mycursor.fetchall():
    print(i)
mydb.close

The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

You can create Cursor object using the cursor() method of the Connection object/class.

Example
import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
   user='root', password='password', host='127.0.0.1', database='mydb'
)

execute method : This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style). execute() returns an iterator if multi is True.

cursor.execute(operation, params=None, multi=False)
iterator = cursor.execute(operation, params=None, multi=True)

Q7. Give the order of execution of SQL clauses in an SQL query.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.