Q1. What are the characteristics of the tuples? Is tuple immutable?

Yes, Tuples are immutable.

The important characteristics of Python Tuples are as follows:

Tuples are ordered.
Tuples can contain any arbitrary objects.
Tuples elements can be accessed by index.
Tuples can be nested to arbitrary depth.
Tuples are immutable.
Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([]).

Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

Python has two built-in methods that can be used on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [1]:
t=(1,2,3,4,5,1,7,8,9)

In [2]:
t.count(1)

2

The above method returned 2 occurences of 1 in the tuple t

In [3]:
t.index(1)

0

In [4]:
t.index(3)

2

The above method returns the position where the first occurence of value in tuple

Since tuples are immutable, it does not have many methods like list.

Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Set does not allow duplicate items

In [5]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [6]:
set(List)

{1, 2, 3, 4}

Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

Update - This function updates the set with the union of itself and other set

In [9]:
# Let's define the set1 s1
s1={1,2,3,4}

In [10]:
s1

{1, 2, 3, 4}

In [11]:
#Let's define the set2
s2={5,6,7,8}

In [12]:
s2

{5, 6, 7, 8}

In [13]:
#update function on set s1 will update the set s1 with the contents from set s2
s1.update(s2)

In [14]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
s2

{5, 6, 7, 8}

Union - Returns the union of sets as new set

In [16]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
s3={11,22,33,44,55}

In [20]:
s4=s1.union(s3)

In [21]:
s4

{1, 2, 3, 4, 5, 6, 7, 8, 11, 22, 33, 44, 55}

In [22]:
#s1 remains intact
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
#s3 remains intact
s3

{11, 22, 33, 44, 55}

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dictionaries are Pythonâ€™s implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:

d = {
    <key>: <value>,
    <key>: <value>,
      .
      .
      .
    <key>: <value>
}

In [28]:
#Example
Rainbow_Colors = { 'V':"Violet",
                      "I": "Indigo",
                      "B":"Blue",
                      "G":"Green",
                      "Y":"Yellow",
                      "O": "Orange",
                      "R":"Red"}

In [29]:
Rainbow_Colors

{'V': 'Violet',
 'I': 'Indigo',
 'B': 'Blue',
 'G': 'Green',
 'Y': 'Yellow',
 'O': 'Orange',
 'R': 'Red'}

Starting from 3.7, dictionaries are ordered.
A simple Hash Table consists of key-value pair arranged in pseudo random order based on the calculations from Hash Function. The traditional implementation of python dict used a sparse array which had lots of unused spaces in between. The new implementation uses a combination of dense array and sparse array, the dense array stores the key-value pair while the sparse array stores the indices to this dense array.

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

Yes, Nested dictionary can be created

In [6]:
pass

In [7]:
pass

In [8]:
Rainbow_Colors = { 'V':"Violet",
                      "I": "Indigo",
                      "B":"Blue",
                      "G":"Green",
                      "Y":"Yellow",
                      "O": "Orange",
                      "R":"Red"}

In [9]:
Rainbow_Colors

{'V': 'Violet',
 'I': 'Indigo',
 'B': 'Blue',
 'G': 'Green',
 'Y': 'Yellow',
 'O': 'Orange',
 'R': 'Red'}

In [11]:
Rainbow_Colors = { 'V':"Violet",
                      "I": "Indigo",
                      "B":"Blue",
                      "G":"Green",
                      "Y":"Yellow",
                      "O": "Orange",
                      "R":"Red",
                      "Base_Colors" : {
                          "B" : "Blue",
                          "Y" : "Yellow",
                          "G" : "Green",
                          "R" : "Red"
                      }
                 }

In [12]:
Rainbow_Colors

{'V': 'Violet',
 'I': 'Indigo',
 'B': 'Blue',
 'G': 'Green',
 'Y': 'Yellow',
 'O': 'Orange',
 'R': 'Red',
 'Base_Colors': {'B': 'Blue', 'Y': 'Yellow', 'G': 'Green', 'R': 'Red'}}

In [13]:
Rainbow_Colors["Base_Colors"]

{'B': 'Blue', 'Y': 'Yellow', 'G': 'Green', 'R': 'Red'}

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

The setdefault() method returns the value of the item with the specified key.

If the key does not exist, insert the key, with the specified value,

In [14]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [15]:
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [16]:
dict1.setdefault("Topics",['Python', 'Machine Learning','Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [17]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topics': ['Python', 'Machine Learning', 'Deep Learning']}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

A view on a dictionary object, acts as a read-only reference to certain parts of the dictionary. These parts are keys, values and the items(key+value i,e., the name value pairs).

3 view objects are keys,values and items

In [18]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [19]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [20]:
#Keys
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [21]:
#Values
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [22]:
#Key Value Pairs
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])